<!DOCTYPE html>

<html>
  <head>
    <title>Space</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/dc4032cd09.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Space</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <section class="grid-products">
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
        </section>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>

    <h2 id="h2">Click Image</h2>
      <div class="testmonial">
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In
            molestiae assumenda quis natus saepe sapiente voluptates veritatis
            aliquam porro nobis ipsa esse distinctio.
          </p>
          <h3>John Smith</h3>
        </div>

        <div class="image">
          <img src="https://i.pinimg.com/originals/a6/8b/b3/a68bb3f25f0a6ffd14b91e6c03b792ed.jpg" alt="" />
        </div>

      </div>

  </body>
</html>
