<!DOCTYPE html>

<html>
  <head>
    <title>Space</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/dc4032cd09.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Space</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <section class="grid-products">
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
          <div class="product-wrapper">
            <figure>
              <img src="https://picsum.photos/200/300" alt="Product" />
              <div class="details-wrapper">
                <h2>Nike</h2>
                <ul class="row">
                  <li><i class="fas fa-star-half-alt"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="far fa-star"></i></li>
                </ul>
                <p>120 $</p>
              </div>
            </figure>
            
          </div>
        </section>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>


  </body>
</html>
