:root {
  --main-color: rgb(39, 35, 35);
  --secondary-color: rgb(184, 63, 184);
  --third-color: #ffffffbb;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 70px;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--secondary-color);
  padding: 5px 20px;
}
main {
  grid-area: main;
  background-color: var(--main-color);
  padding: 20px;
}

footer {
  grid-area: footer;
  background-color: var(--secondary-color);
  color: var(--third-color);
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Common */

a,
a:visited {
  text-decoration: none;
  color: var(--third-color);
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
}
a:visited:hover {
  color: rgba(255, 255, 255, 0.966);
}

a:hover {
  color: rgba(255, 255, 255, 0.966);
}

header a::before {
  content: "";
  position: absolute;
  width: auto;
  height: 3px;
  inset: 0;
  background-color: violet;
  border-radius: 20px;
  top: 0px;
  opacity: 0;
  transition: all 0.4s ease-in;
  transform: scale(0);
  transform-origin: left center;
}
header a:hover::before {
  opacity: 1;
  transform: scale(1);
  top: 20px;
}
header div:first-child a {
  padding-bottom: 4px;
}

header div:first-child a:hover::before {
  top: 45px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.brand {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1.4px;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.grid-products .product-wrapper {
  background-color: var(--main-color);
  color: var(--third-color);

  border-radius: 10px;
  overflow: hidden;
  border: 1px solid transparent;
  transition:all 0.4s ease-in;
}

.grid-products .product-wrapper:hover {
  background-color: var(--main-color);
  color: var(--third-color);

  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
}
figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.grid-products .product-wrapper figure img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1);
  transition: all 0.5s ease;
  position: relative;
}
.grid-products .product-wrapper figure img:hover {
  transform: scale(1.1);
}
.grid-products .details-wrapper ul {
  width: 60%;
}

.grid-products .product-wrapper .details-wrapper {
  padding: 10px;
  display: none;
  transition: all 0.5s ease-in;
  position: absolute;
  top:0px;
  pointer-events: none;
}

.grid-products .product-wrapper .details-wrapper {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in;
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0,0,0,0.5);
}

.details-wrapper ul li i{
    color:rgb(219, 219, 16)
}

/* style card custom chi siamo */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#efefefe1, #ddddddbb);
}
h2 {
  top: 40px;
  position: absolute;
  font-size: 1.7em;
  color: #777;
  font-weight: normal;
  opacity:1;
  transition: all 0.4s ease;
}
.testmonial {
  width: 390px;
  position: relative;
  filter: drop-shadow(0px 0px 15px #8888883f);
  
 
}
.testmonial .text {
  font-weight: 500;
  background-color: rgb(0,0,0,0.8);
  border-radius: 10px;
  padding: 45px 10px 25px 30px;
  height: 200px;
  opacity:1;
  
}
.testmonial .text p {
  color: #555;
  line-height: 1.6;
  text-indent: 20px;
  margin-bottom: 15px;
  font-style: italic;
}
.testmonial .text h3 {
  color: #2196f3;
  text-align: center;
  font-weight: 500;
}

.testmonial .image {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  top: 0;
  left: 50%;
  opacity:1;
  transform: translateX(-50%);
  cursor: pointer;
  transition-timing-function: ease-in-out;
  
}
.testmonial .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition-timing-function: ease-in-out;
}
 */
/* Js card custom chi siamo */
 /* let image = document.querySelector(".image");
let text = document.querySelector(".text");
let h2 = document.getElementById("h2");

image.onclick = () => {
  image.style.transition = "0.4s";
  text.style.transition = "0.4s";

  if (image.style.top != "-60px") {
    image.style.top = "-60px";
    image.style.width = "100px";
    image.style.height = "100px";
    image.style.padding = "5px";
    text.style.opacity = "1";
    text.style.transitionDelay = "0.4s";
    h2.style.opacity="0";
  } else {
    image.style.top = "0px";
    image.style.width = "225px";
    image.style.height = "225px";
    image.style.padding = "0px";
    image.style.transitionDelay = "0.2s";
    text.style.opacity = "0";
    h2.style.opacity="1";
  }
};
   */


