#root {
  height: 100%;
}

:root {
  --main-color: rgb(39, 35, 35);
  --secondary-color: rgb(184, 63, 184);
  --third-color: #ffffffbb;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.App {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* Start css welcome page */

.grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 70px;
  height: 100%;
}

nav {
  grid-area: nav;
  background-color: var(--secondary-color);
  padding: 5px 20px;
  position: fixed;
  top:0;
  width: calc(100% - 2.9rem);
  min-height:60px;
  z-index: 1;
}
main {
  grid-area: main;
  background-color: var(--main-color);
  padding: 20px;
}

footer {
  grid-area: footer;
  background-color: var(--secondary-color);
  color: var(--third-color);
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Common */

a,
a:visited {
  text-decoration: none;
  color: var(--third-color);
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
}
a:visited:hover {
  color: rgba(255, 255, 255, 0.966);
}

a:hover {
  color: rgba(255, 255, 255, 0.966);
}

nav a:first-child{
  margin-right: 10px;
}

nav a::before {
  content: "";
  position: absolute;
  width: auto;
  height: 3px;
  inset: 0;
  background-color: violet;
  border-radius: 20px;
  top: 0px;
  opacity: 0;
  transition: all 0.4s ease-in;
  transform: scale(0);
  transform-origin: left center;
}
nav a:hover::before {
  opacity: 1;
  transform: scale(1);
  top: 20px;
}
nav div:first-child a {
  padding-bottom: 4px;
}

nav div:first-child a:hover::before {
  top: 45px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.brand {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1.4px;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.grid-products .product-wrapper {
  background-color: var(--main-color);
  color: var(--third-color);

  border-radius: 10px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.4s ease-in;
}

.grid-products .product-wrapper:hover {
  background-color: var(--main-color);
  color: var(--third-color);

  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
}
figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.grid-products .product-wrapper figure img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1);
  transition: all 0.5s ease;
  position: relative;
}
.grid-products .product-wrapper figure img:hover {
  transform: scale(1.1);
}
.grid-products .details-wrapper ul {
  width: 60%;
}

.grid-products .product-wrapper .details-wrapper {
  padding: 10px;
  display: none;
  transition: all 0.5s ease-in;
  position: absolute;
  top: 0px;
  pointer-events: none;
}

.grid-products .product-wrapper .details-wrapper {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in;
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.details-wrapper ul li i {
  color: rgb(219, 219, 16);
}

/* End css Welcome page  */

/* Start css ProductDetail */

.grid-detail {
  display: grid;
  grid-template-areas:
    "image details addtochart"
   ;
  grid-template-columns:3fr 2fr 1fr;
  grid-template-rows:500px  ;
  gap: 25px;
  color: var(--third-color);
}

@media (max-width: 1005px) {
  .grid-detail {
    grid-template-areas:
      "image image image "
      "details details addtochart ";
  }
  
}
@media (max-width: 447px) {
  .grid-detail {
    grid-template-areas:
      "image image image "
      "details details details "
      "addtochart addtochart addtochart";
  }
 
}

.product-detail-image-section {
  grid-area: image;
  filter: drop-shadow(0 0 0.5rem var(--third-color));
}
.product-detail-image-section img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.product-detail-details-section {
  grid-area: details;
  place-self: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:1005px){
  .product-detail-details-section {
    grid-area: details;
    place-self: center start;
  }
}
@media (max-width:447px){
  .product-detail-details-section {
    grid-area: details;
    place-self: center center;
  }
}


.product-detail-add-to-chart {
  grid-area: addtochart;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
  place-self: center center;
 
}

.product-detail-details-section ul {
  width: 50%;
}

.product-detail-add-to-chart button {
  width: 100%;
  padding: 8px 20px;
  color: inherit;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1.6px;
  transition: all 0.8s ease;
  border: 1px solid transparent;
  white-space: nowrap;
}

.product-detail-add-to-chart button:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  -webkit-box-shadow: 5px 5px 5px 0px var(--third-color),
    inset 4px 4px 15px 0px var(--third-color), 1px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px var(--third-color),
    inset 4px 4px 15px 0px var(--third-color), 1px 5px 15px 5px rgba(0, 0, 0, 0);
}
.product-detail-add-to-chart button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px var(--third-color);
}
