#root {
  height: 100%;
}

:root {
  --main-color: rgb(39, 35, 35);
  --secondary-color: rgb(184, 63, 184);
  --third-color: #ffffffbb;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  color: var(--third-color);
}
.App {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

.product-not-found {
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
    4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
    4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: var(--main-color);
  background-color: var(--secondary-color);
}

.alert-danger {
  color: #a02020;
  background-color: var(--secondary-color);
}

.center {
  text-align: center;
  text-transform: uppercase;
}

.badge {
  margin-left: 0.5rem;
  color: var(--main-color);
  background-color: var(--third-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid var(--third-color);
}

.badge span {
  color: var(--secondary-color);
}
.nav-links i {
  font-size: larger;
}

/* Start css welcome page */

.grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 70px;
  height: 100%;
}

nav {
  grid-area: nav;
  background-color: var(--secondary-color);
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: calc(100% - 2.9rem);
  min-height: 60px;
  z-index: 1;
}
main {
  grid-area: main;
  background-color: var(--main-color);
  padding: 20px;
}

footer {
  grid-area: footer;
  background-color: var(--secondary-color);
  color: var(--third-color);
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Common */

a,
a:visited {
  text-decoration: none;
  color: var(--third-color);
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
}
a:visited:hover {
  color: rgba(255, 255, 255, 0.966);
}

a:hover {
  color: rgba(255, 255, 255, 0.966);
}

nav .nav-links a {
  margin: 0px 10px;
}

nav a::before {
  content: "";
  position: absolute;
  width: auto;
  height: 3px;
  inset: 0;
  background-color: violet;
  border-radius: 20px;
  top: 0px;
  opacity: 0;
  transition: all 0.4s ease-in;
  transform: scale(0);
  transform-origin: left center;
}
nav a:hover::before {
  opacity: 1;
  transform: scale(1);
  top: 26px;
}
nav div:first-child a {
  padding-bottom: 4px;
}

nav div:first-child a:hover::before {
  top: 45px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.row.center {
  justify-content: center;
}
.row.column {
  flex-direction: column;
}

.brand {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 1.4px;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.grid-products .product-wrapper {
  background-color: var(--main-color);
  color: var(--third-color);

  border-radius: 10px;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all 0.4s ease-in;
}

.grid-products .product-wrapper:hover {
  background-color: var(--main-color);
  color: var(--third-color);

  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
}
figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.grid-products .product-wrapper figure img {
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(1);
  transition: all 0.5s ease;
  position: relative;
}
.grid-products .product-wrapper figure img:hover {
  transform: scale(1.1);
}
.grid-products .details-wrapper ul {
  width: 60%;
}

.grid-products .product-wrapper .details-wrapper {
  padding: 10px;
  display: none;
  transition: all 0.5s ease-in;
  position: absolute;
  top: 0px;
  pointer-events: none;
}

.grid-products .product-wrapper .details-wrapper {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in;
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.details-wrapper ul li i {
  color: rgb(219, 219, 16);
}

/* End css Welcome page  */

/* Start css ProductDetail */

.grid-detail {
  display: grid;
  grid-template-areas: "image details addtochart";
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: 500px;
  gap: 25px;
  color: var(--third-color);
}

@media (max-width: 1005px) {
  .grid-detail {
    grid-template-areas:
      "image image image "
      "details details addtochart ";
  }
}
@media (max-width: 447px) {
  .grid-detail {
    grid-template-areas:
      "image image image "
      "details details details "
      "addtochart addtochart addtochart";
  }
}

.product-detail-image-section {
  grid-area: image;
  filter: drop-shadow(0 0 0.5rem var(--third-color));
}
.product-detail-image-section img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.product-detail-details-section {
  grid-area: details;
  place-self: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1005px) {
  .product-detail-details-section {
    grid-area: details;
    place-self: center start;
  }
}
@media (max-width: 447px) {
  .product-detail-details-section {
    grid-area: details;
    place-self: center center;
  }
}

.product-detail-add-to-chart {
  grid-area: addtochart;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 20px;
  place-self: center center;
}

.product-detail-details-section ul {
  width: 50%;
}

.product-detail-add-to-chart button {
  width: 100%;
  padding: 8px 20px;
  color: inherit;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1.6px;
  transition: all 0.8s ease;
  border: 1px solid transparent;
  white-space: nowrap;
}

.product-detail-add-to-chart button:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  -webkit-box-shadow: 5px 5px 5px 0px var(--third-color),
    inset 4px 4px 15px 0px var(--third-color), 1px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px var(--third-color),
    inset 4px 4px 15px 0px var(--third-color), 1px 5px 15px 5px rgba(0, 0, 0, 0);
}
.product-detail-add-to-chart button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px var(--third-color);
}

.available {
  color: green;
  margin: 0 0 8px 0;
}

.unavailable {
  color: red;
  margin: 0 0 8px 0;
}

/* End product detail css */
/* start who-we-are css */

.who-we-are-flex {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

@media (max-width: 821px) {
  .who-we-are-flex {
    margin-top: 50px;
  }
}

.who-we-are-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.who-we-are-wrapper h2 {
  top: -115px;
  position: absolute;
  font-size: 1.7em;
  color: var(--secondary-color);
  font-weight: normal;
  opacity: 1;
  transition: all 0.4s ease;
  cursor: pointer;
}
.testimonial {
  width: 390px;
  position: relative;
  filter: drop-shadow(0px 0px 15px #8888883f);
}

@media (max-width: 439px) {
  .testimonial {
    width: 280px;
  }
}

.testimonial .text {
  font-weight: 500;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 45px 10px 25px 30px;
  height: 200px;
  opacity: 0;
}
.testimonial .text p {
  color: #555;
  line-height: 1.6;
  text-indent: 20px;
  margin-bottom: 15px;
  font-style: italic;
}
.testimonial .text h3 {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 500;
}
.testimonial .image {
  position: absolute;
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 225px;
  height: 225px;
  top: 0;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  cursor: pointer;
  transition-timing-function: ease-in-out;
}

.testimonial .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition-timing-function: ease-in-out;
}

.qty {
  margin-bottom: 1.5rem;
}
/* end WhoWeAre css  */

/* start Cart page css */

.grid-cart-page {
  display: grid;
  height: 100%;
  grid-template-areas: "welcome welcome checkout "
  "productList productList checkout "
  "productList productList checkout";
  gap:25px;
}

.grid-cart-page div:first-child {
  grid-area: welcome;
  place-self: center center;
  padding: 15px;
}
.grid-cart-page div:nth-child(2) {
  grid-area: productList;
  
  padding: 15px;
}
.grid-cart-page div:last-child {
  grid-area: checkout;
  padding: 15px;
}
